# Firebase Configuration
FIREBASE_API_KEY=YOUR_API_KEY
FIREBASE_AUTH_DOMAIN=unihub-ab26b.firebaseapp.com
FIREBASE_DATABASE_URL=https://unihub-ab26b-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=unihub-ab26b
FIREBASE_STORAGE_BUCKET=unihub-ab26b.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID
FIREBASE_APP_ID=YOUR_APP_ID
FIREBASE_MEASUREMENT_ID=YOUR_MEASUREMENT_ID
